<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>StepUpOpenBadges</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.StepUpOpenBadgesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StepUpTestDBOpenBadges</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.StepUpTestDBOpenBadgesServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>BadgesService</servlet-name>
	    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	    <init-param>
	      <param-name>com.sun.jersey.config.property.packages</param-name>
	      <param-value>org.be.kuleuven.hci.openbadges.services</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
		<servlet-name>CommentsOnOtherBlogsServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.CommentsOnOtherBlogsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PeriodicBadgesServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.PeriodicBadgesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OnceXWeekBadgesServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.openbadges.OnceXWeekBadgesServlet</servlet-class>
	</servlet>
  <servlet-mapping>
    <servlet-name>BadgesService</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  	<servlet-mapping>
		<servlet-name>StepUpTestDBOpenBadges</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StepUpOpenBadges</servlet-name>
		<url-pattern>/stepupopenbadges</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentsOnOtherBlogsServlet</servlet-name>
		<url-pattern>/commentsonotherblogsservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PeriodicBadgesServlet</servlet-name>
		<url-pattern>/periodicbadgesservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OnceXWeekBadgesServlet</servlet-name>
		<url-pattern>/oncexweekservlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>