<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>StepUpLearningAnalyticsLayer</servlet-name>
		<servlet-class>org.be.kuleuven.hci.aggregationlayer.StepUpLearningAnalyticsLayerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StepUpLearningAnalyticsLayer</servlet-name>
		<url-pattern>/cron/init</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TwitterSignIn</servlet-name>
		<servlet-class>org.be.kuleuven.hci.auth.SigninServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TwitterSignIn</servlet-name>
		<url-pattern>/auth/twitter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TwitterCallback</servlet-name>
		<servlet-class>org.be.kuleuven.hci.auth.CallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TwitterCallback</servlet-name>
		<url-pattern>/auth/callback</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>