<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>AddTweetServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.stepup.servlets.AddTweetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTweetServlet</servlet-name>
		<url-pattern>/cron/addtweet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddElggServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.stepup.servlets.AddElggServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddElggServlet</servlet-name>
		<url-pattern>/cron/addelgg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateUsernameServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.stepup.servlets.UpdateUsernameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUsernameServlet</servlet-name>
		<url-pattern>/cron/updateusernames</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddDiigoServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.stepup.servlets.AddDiigoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddARLearn</servlet-name>
		<servlet-class>org.be.kuleuven.hci.stepup.servlets.AddARLearn</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>AddARLearn</servlet-name>
		<url-pattern>/cron/addarlearn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDiigoServlet</servlet-name>
		<url-pattern>/cron/adddiigo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddRSSServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.stepup.servlets.AddWordPressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRSSServlet</servlet-name>
		<url-pattern>/cron/addrss</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddRSSNoMatchedNamesServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.stepup.servlets.AddRSSNoMatchedNamesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRSSNoMatchedNamesServlet</servlet-name>
		<url-pattern>/cron/addrssnomatchednames</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClearCacheServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.stepup.servlets.ClearCacheServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClearCacheServlet</servlet-name>
		<url-pattern>/cron/clearcache</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>org.be.kuleuven.hci.stepup.servlets.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/cron/init</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>